.DS_Store
Library
Temp
*.csproj
*.pidb
*.unityproj
*.sln
*.userprefs
Assets/Advanced 2.5D Platformer Kit/Demo Scene/Models/Blood16k.png

Assets/Advanced 2.5D Platformer Kit/Demo Scene/Models/Blood16k.png.meta
